body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #375380;
    background-color: #eeeeee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.arancio {
    color: #ef7a1b !important;
}
.blu {
    color: #375380 !important;
}
.a-ncp{
    border:none;
}
.a-ncp :hover{
    border:2px;
    border-color:#ef7a1b;
}
.hrl {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0));
}

.hr2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgba(255, 106, 0, 0), rgba(255, 106, 0, 0.8));
}
.img-prodotti{
    display: inline;
}
.img-partner {
    height: 50px;
}

.img-logo {
    height: 50px;
    visibility: visible;
    margin: 10px 0px 0px 10px;
    float:right;
}

.img-logo1 {
    height: 35px;
    visibility: hidden;
    margin: -10px 0px 0px 10px;
}
    @media (max-width:992px) {
        .img-logo {
            visibility: collapse;
            width:0px;
        }

        .img-logo1 {
            visibility: visible;
        }
    }

    .img-servizio {
        width: 100%;
    }

    .img-servizio-sm {
        width: 40px;
        display: block;
    }

    @media (max-width: 992px) {
        .img-servizio {
            width: 50%;
        }
    }

    .div-homepage {
        padding: 25px;
    }

    .btn-ncprogram {
        color: #ff6a00;
        background-color: #2d3e6e;
        border-color: #2d3e6e;
    }

        .btn-ncprogram:hover,
        .btn-ncprogram:focus,
        .btn-ncprogram:active,
        .btn-ncprogram.active,
        .open .dropdown-toggle.btn-ncprogram {
            color: #ffffff;
            background-color: #2d3e6e;
            border-color: #285e8e;
        }

        .btn-ncprogram:active,
        .btn-ncprogram.active,
        .open .dropdown-toggle.btn-ncprogram {
            background-image: none;
        }

        .btn-ncprogram.disabled,
        .btn-ncprogram[disabled],
        fieldset[disabled] .btn-ncprogram,
        .btn-ncprogram.disabled:hover,
        .btn-ncprogram[disabled]:hover,
        fieldset[disabled] .btn-ncprogram:hover,
        .btn-ncprogram.disabled:focus,
        .btn-ncprogram[disabled]:focus,
        fieldset[disabled] .btn-ncprogram:focus,
        .btn-ncprogram.disabled:active,
        .btn-ncprogram[disabled]:active,
        fieldset[disabled] .btn-ncprogram:active,
        .btn-ncprogram.disabled.active,
        .btn-ncprogram[disabled].active,
        fieldset[disabled] .btn-ncprogram.active {
            background-color: #2d3e6e;
            border-color: #357ebd;
        }

        .btn-ncprogram .caret {
            border-top-color: #fff;
        }

    .dropup .btn-ncprogram .caret {
        border-bottom-color: #fff;
    }

    .carousel-caption {
        left: 15% !important;
        top: 10%;
        text-align: left;
    }

    .img-slide {
        border-radius: 50%;
        border: solid 3px #ffffff;
        height: 100px;
    }

    .img-default {
        border-radius: 50%;
        border: solid 3px #ffffff;
    }


    .img-usr {
        height: 50px;
        border: solid 2px #fff;
        border-radius: 50%;
    }

    .navi {
        margin: 0;
        padding: 0;
    }

        .navi a {
            text-decoration: none;
            color: #fff !important;
            font-weight: bold;
            transition: all 0.8s ease;
            font-size: 1.2em;
        }
        @media (max-width:992px) {
            .navi a {
                color: #337ab7 !important;
            }
        }

    .navi li {
        color: #fff !important;
    }

        .navi li div {
            font-size: 1.7em;
            padding: 12px 13px 0px 13px;
            z-index: 10;
            position: relative;
        }

        .navi li a span {
            transition: all 0.8s ease;
            color: #000;
            font-size: 0.1em;
            overflow: no-content;
            z-index: 20;
            -ms-transform: scale(0,0); /* IE 9 */
            -webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
            transform: scale(0,0);
            display: none;
            background-color: rgba(235, 235, 235, 0.00);
            bottom: 40px;
        }

    .navi a:hover span {
        position: absolute;
        display: flex;
        transition: all 0.8s ease;
        text-shadow: 0px 0px 10px #fff;
        color: #22486F;
        -ms-transform: scale(5,5); /* IE 9 */
        -webkit-transform: scale(5,5); /* Chrome, Safari, Opera */
        transform: scale(5,5);
        margin-top: 12px;
        background-color: rgba(235, 235, 235, 0.80);
        padding: 0px 1px 1px 1px;
        border-radius: 1px;
    }

    .navi2 {
        margin: 0;
        padding: 0;
    }

        .navi2 a {
            text-decoration: none;
            color: #ef7a1b !important;
            font-weight: bold;
            transition: all 0.8s ease;
        }

        .navi2 li {
            color: #fff !important;
        }

            .navi2 li div {
                padding: 0px 5px 0px 5px;
                z-index: 10;
                position: relative;
            }

            .navi2 li a span {
                transition: all 0.8s ease;
                color: #000;
                overflow: no-content;
                z-index: 20;
                display: none;
                background-color: rgba(235, 235, 235, 0.00);
            }

        .navi2 a:hover span {
            position: absolute;
            display: flex;
            transition: all 0.8s ease;
            text-shadow: 0px 0px 10px #fff;
            color: #22486F;
            background-color: rgba(235, 235, 235, 0.80);
            padding: 0px 1px 1px 1px;
            border-radius: 1px;
        }

@media (min-width:992px) {
    .navbar-default {
        height: 80px;
        border-color: #000;
    }

        .navbar-default a {
            bottom: -30px;
        }

}

    @media (max-width:992px) {
        .navbar-collapse {
            background: #f8f8f8;
        }
    }


    /*Consenso utilizzo coockie*/
    .divCook {
        border-width: 0.7px;
        border-color: rgba(248, 246, 246, 0.88);
        width: 200px;
        border-radius: 0px 0px 15px 15px;
        text-align: justify;
        background-color: rgba(5, 5, 5, 0.8);
        padding: 5px;
        color: #fff;
        position: fixed;
        -webkit-animation-name: cook; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
        animation-name: cook;
        animation-duration: 3s;
        animation-direction: normal;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        top: 10px;
        left: 10px;
        z-index: 99999;
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes cook {
        0% {
            left: 50%;
            top: 50%;
        }

        100% {
            left: 10px;
            top: 10px;
        }
    }

    /* Standard syntax */
    @keyframes cook {
        0% {
            left: 50%;
            top: 50%;
        }

        100% {
            left: 10px;
            top: 10px;
        }
    }    
