
@{
    ViewBag.Title = "CIMCO";
}
<div class="container body-content">
    <h2>CIMCO</h2>
    <hr/>
    <h3>CIMCO DNC-Max 7</h3>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco1.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                La scelta professionale per la comunicazione con i CNC
                DNC-Max 7 è l’ultima versione del più sicuro software per la comunicazione con i CNC, fornendo funzionalità progettate per rendere ogni aspetto della cominicazione ai CNC più affidabile ed efficiente.
            </p>
        </div>
    </div>
    <h4>Rete officina</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco2.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                DNC-Max lavora con hardware di tipo off-the-shelf, standard della comunicazione seriale RS-232, incluso Ethernet e dispositivi Wireless seriali, schede hardware tradizionali e hardware dedicati esistenti.
                CIMCO DNC-Max è l’ultima soluzione per la connettività Wireless in officina.
            </p>
        </div>
    </div>
    <hr />
    <h2>CIMCO MDC-Max 7</h2>
    <h3>La scelta professionale per l’acquisizione dei dati di fabbricazione</h3>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco5.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                Oggi, in un mercato globale complesso e competitive, è più che mai indispensabile analizzare l’efficienza d’utilizzo delle apparecchiature di produzione.
                CIMCO MDC-Max fornisce potenti funzionalità di raccolta dati da macchinari e rendere l’analisi dati semplice, calcolando la capacità produttiva, incluso l’Overall Equipment Effectiveness (OEE) e il Total Effective Eequipment Productivity (TEEP).
            </p>
        </div>
    </div>
    <hr />

            <h3>CIMCO PDM-7</h3>
            <h4>Strumento di gestione professionale</h4>
    <div class="row">
        <div class="col col-md-12">
            <p>CIMCO PDM è un sistema dei vostri documenti che evita l’uso della carta, consente di gestire dati di produzione, controllare ed archiviare in modo sicuro file CAD/CAM, programmi NC, layout di piazzamento, liste utensili, schede per la qualità, immagini ed altri dati legati alla produzione</p>
        </div>
    </div>
    <hr />
            <h3>CIMCO NC-Base 7</h3>
            <h4>Gestione Programmi CNC</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco6.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                La gestione dei part programs NC e dei documenti di produzione associati è spesso un compito difficile che richiede tempo sia per un programmatore CNC che per un operatore.
                CIMCO NC-Base 7 si prende cura di questo lavoro e va un passo avanti, fornendo un sistema altamente flessibile: la gestione, la ricerca e l’editazione è integrata nel medesimo ambiente, rendendo così il lavoro dei programmatori NC e degli operatori, molto più semplice ed efficace.
            </p>
        </div>
    </div>
    <hr />
            <h3>CIMCO EDIT 7</h3>
            <h4>L’ editor scelto dai programmatori CNC</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco3.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                CIMCO Edit 7 fornisce un set complete di funzioni essenziali per la scrittura di un programma CNC, tra cui: numerazione dei blocchi, funzioni matematiche, funzioni di traslazione/rotazione e specchiatura, comparazione file e comunicazione con CNC.
            </p>
        </div>
    </div>
    <h4>Visualizzazione programmi NC</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco4.gif" />
        </div>
        <div class="col col-md-8">
            <p>
                CIMCO Edit 7 include la simulazione grafica di programmi per machine di fresatura a 3/4/5 assi e di tornitura a 2 assi, includendo la visualizzazione solida (solo fresatura) con mandrino e controllo di collisione in rapido.

            </p>
        </div>
    </div>
    <hr />
            <h3>CIMCO CNC-Calc 7</h3>
            <h4>CAD/CAM base per l’officina</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco7c.gif" />
        </div>
        <div class="col col-md-8">
            <p>CNC-Calc è un sistema CAD 2D rapido ed efficace calzato per CIMCO Edit 7. Esso fornisca una soluzione di disegno e di importazione di geometrie complesse 2D (DXF), permettendo la generazione di un percorso utensile in codice NC, per profili di contorno, foratura, tasche, ecc.</p>
        </div>
    </div>
            <h4>DNC e comunicazione CNC</h4>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco8.png" />
        </div>
        <div class="col col-md-8">
            <p>CIMCO Edit 7 include funzionalità DNC per una varietà di CNC che comunicano con RS232. Con l’opzione DNC è possibile inviare e ricevere programmi CNC da differenti macchine anche simultaneamente dall’interno di CIMCO Edit 7.</p>
        </div>
    </div>
            <h3>Integrazione Software</h3>
    <div class="row">
        <div class="col col-md-4">
            <img class="img-responsive" src="~/Content/Immagini/cimco9.gif" />
        </div>
        <div class="col col-md-8">
            <p>Introdurre i prodotti CIMCO nella vostra officina non solo vi darà ottimi strumenti per ottenere un lavoro migliore, ma vi darà anche una potente piattaforma integrando editor, disegnazione, visualizzazione, gestione e trasmissione dei vostri programmi CNC, con il relativo contenuto, utilizzando un solo ambiente software.</p>
        </div>
    </div>
        </div>

