@{
    ViewBag.Title = "Contatti";
}
<div class="container body-content">

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        N.C.Program<br />
        Nova Milanese<br />
        <abbr title="Telefono fisso">Tel:</abbr>
        02222222<br/>
        <abbr title="Cellulare">Cell:</abbr>
        335666666
    </address>

    <address>
        <strong>Supporto:</strong>   <a href="mailto:Support@example.com">Support@ncprogram.it</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ncprogram.it</a>
    </address>
</div>