
@{
    ViewBag.Title = "Mazac";
}
<div class="container body-content">

    <h2 class="text-center">Mazac</h2>
    <hr class="hrl" />
    <img src="~/Content/Immagini/work.jpg.png" />
    <h1>Mi mancano i contenuti. <span class="text-danger"> Come i servizi andrebbe bene?</span></h1>
    <hr class="hrl" />
</div>
