
@{
    ViewBag.Title = "Prodotti";
}
<div class="container body-content">

    <h2 class="text-center">Gestione prodotti</h2>
    <hr class="hrl" />
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Tdms")"><img class="img-responsive img-prodotti" src="~/Content/Immagini/tdm.png" /></a>

        </div>
    </div>
    <hr class="hr2" />
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Cimcoes")"><img class="img-responsive img-prodotti" src="~/Content/Immagini/cimco.png" /></a>

        </div>
    </div>
    <hr class="hr2" />
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("Index", "Mazacams")"><img class="img-responsive img-prodotti" src="~/Content/Immagini/mazacam.png" /></a>

        </div>
    </div>
</div>