
@{
    ViewBag.Title = "Servizi";
}
<div class="container body-content">

    <h2>Servizi</h2>
    <img class="thumbnail" src="~/Content/Immagini/servizi.jpg" />
<p>La programmazione delle macchine utensili, i corsi di istruzione di uso e programmazione dei controlli numerici, la progettazione degli attrezzi di bloccaggio e i cicli di lavorazione, sono una tradizione radicata risalente alla fondazione della società. La società annovera esperienze in molteplici settori della meccanica: aeronautica, automotive, orafa, militare, Alimentare, macchine movimento terra, macchine di produzione, macchine lavorazione legno. L’attività di programmazione può anche beneficiare del supporto di collaudo in macchina per i programmi NC realizzati.</p>
</div>