@model NCProgramMVC.Models.ServiziDett

@{
    ViewBag.Title = "ServiziDett";
}
<div class="container body-content">

    <h2 class="text-center"><a href="@Url.Action("Servizi", "Home")"> @Html.DisplayFor(model => model.Servizio.Servizio) </a></h2>
    <hr class="hrl" />
    <h4>@Html.DisplayFor(model => model.ServizioDett)</h4>
    <hr class="hr2" />
    <div>
          @Html.Raw(Model.Descrizione)
    </div>
</div>