
@{
    ViewBag.Title = "ServiziList";
}
<div class="container body-content">

    <h2>ServiziList</h2>
    <hr class="hrl" />
    <h3>Descrizione dei vari servizi</h3>
    <img src="~/Content/Immagini/demo1.jpg" />
    <img src="~/Content/Immagini/demo2.jpg" />
    <img src="~/Content/Immagini/demo3.jpg" />
    </div>
