
@{
    ViewBag.Title = "Software";
}
<div class="container body-content">

    <h2><img src="~/Content/Immagini/Software.png" />Software</h2>
    <hr class="hrl" />

    <p>Negli ultimi anni la società ha voluto evolvere la propria attività, vista l’esperienza maturata nell’ambito dei servizi, introducendo la rivendita di una serie di software a supporto della produzione. Dal software possono arrivare riduzioni significative in tempi produttivi, facendo ordine e razionalizzando gli strumenti di lavoro, proiettando così l’argomento alla “riduzione dei costi produttivi”. I software introdotti svariano da: trasmissione dati DNC, Tool Data Management – gestione degli utensili, OEE – Overall Equipment Effectiveness con il calcolo dell’efficienza dei macchinari, controllo rottura utensili sui CN ed altri ancora.</p>
</div>

