
@{
    ViewBag.Title = "Storia";
}
<div class="container body-content">

    <h2>Storia</h2>
    <img class="img-thumbnail" src="~/Content/Immagini/storia.jpg" />
    <p>NC Program nasce nel 1996 con l’attività di Programmazione NC e Corsi di Uso e Programmazione NC.

L’esperienza nelle lavorazioni meccaniche, ha fatto sì che venissero sempre di più maturate esperienze nel campo dell’utensileria meccanica, portandoci a studiare utensili speciali per la riduzioni di tempi di lavorazione.<br/>

Successivamente NC Program si è accorta che era necessario un software in grado di gestire gli assiemi utensili. Da questo argomento nel 2005 si è deciso di adottare il software TDM di TDM Systems, membro di Sandvik Group e da subito NC Program diventa rivenditore per il mercato Italiano.

Dalla crisi iniziata nel 2008, abbiamo capito che solo attraverso l’innovazione tecnologica e l’aiuto di software che possa aiutarci nel quotidiano lavoro possiamo arrivare a significative riduzioni di costi produttivi, per cui abbiamo riposto la massima attenzione delle proposte di software innovativi.

Il futuro di NC Program la vedrà maggiormente impegnata a ricercare e a proporre nuove soluzioni, nel settore della meccanica di produzione, all’avanguardia nel mercato Italiano.
</p>
    <img class="img-thumbnail" src="~/Content/Immagini/Sede.jpg" />
</div>

