
@{
    ViewBag.Title = "Storia";
}
<div class="container body-content">
    <!--- Intestazione della pagina: prevede l'immagine di testa e la descrizione del gruppo di prodotti -->
    <h2 class="text-center"><img class="img-responsive img-prodotti" src="~/Content/Immagini/NCMission.png" /></h2>
    <hr class="hrl" />
   @foreach (var item in Model)
    {
        <h2 class="text-center">
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "GruppoProdottis", new { id = @item.GruppoPodotti_Id })"><span class="fa fa-pencil "></span></a>
            }
        </h2>

        <div>@Html.Raw(@item.DescrizioneDett)</div>
    }


</div>
