
@{
    ViewBag.Title = "TDM";
}
<div class="container body-content">

    <h2>TDM</h2>
<p>Il modulo Base di TDM è un pacchetto completo per la gestione dei vostri dati utensili incluso: componenti, assemblaggi, elenchi fornitori, macchine utensili e materiali del pezzo in lavorazione.<br/>
    Il modulo Base di TDM ha un menu strutturato suddiviso per classi, gruppi, tecnologie e processi di lavorazione.</p>
    <div class="row">
        <div class="col col-md-4">
            <a href="~/Content/Immagini/tdm1.png"><img class="img-thumbnail" src="~/Content/Immagini/tdm1.png" /></a>

        </div>
        <div class="col col-md-4">
            <a href="~/Content/Immagini/tdm2.png"><img class="img-thumbnail" src="~/Content/Immagini/tdm2.png" /></a>

        </div>
        <div class="col col-md-4">
            <a href="~/Content/Immagini/tdm3.png"><img class="img-thumbnail" src="~/Content/Immagini/tdm3.png" /></a>

        </div>
   </div><hr/>

    <div class="row">
        <div class="col col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3a-jyhMmUY"></iframe>
            </div>
        </div>
        <div class="col col-md-6 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0lBtdTdGcaU"></iframe>
            </div>
        </div>
    </div>
</div>
