@model NCProgramMVC.Models.TdmDett

@{
    ViewBag.Title = "TdmDett";
}
<div class="container body-content">

    <h2 class="text-center"><a href="@Url.Action("Tdm", "Home")"> @Html.DisplayFor(model => model.Prodotto.Prodotto) </a></h2>
    <hr class="hrl" />
    <h4>@Html.DisplayFor(model => model.ProdottoDett)</h4>
    <hr class="hr2" />
    <div>
        @Html.Raw(Model.Descrizione)
    </div>
</div>